.slider {
    height:90vh;
    width:100vw;
}
body {
    overflow: visible;
}
.brand-logo {
    margin-top:-.2%;
    margin-left:4%;

}
.menu-item:hover {
    border-bottom:3px solid #367cdf;
    background-color:transparent;
    font-family: "Open Sans", sans-serif;

}
nav ul a:hover {
    background-color: transparent;
    color: #367cdf;
}
nav ul a {
    font-family: "Open Sans", sans-serif;
    font-size: large;
    color:black;
    /*margin-top:10%;*/

}
#nav-mobile {
    margin-right:5%;
    margin-top:1.3%;
}
#learn-more-btn{
    margin-top:30%;
    margin-left:20%;
}